/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
  --text-color: #000000; /* (Texte presque blanc) */
  --background: #ffffff; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
}

/* Réinitialisation des éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux du corps de la page */
body {
  background-color: var(--background);
  font: 14pt Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/* Styles pour les paragraphes d'informations */
p.info-vide {
  font-style: italic;
}

/* Styles pour les titres */
h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 2.5em;
  color: var(--text-color);
}

#orange {
  color: #f3b95f;
}

#Chuck-Norris-header {
  color: #d04848;
}

#explication {
  width: 85%;
  margin: 0 auto; /* Cette règle centre l'élément horizontalement */
  text-align: center; /* Pour centrer le texte à l'intérieur de l'élément */
}

/* Conteneur principal */
#conteneur {
  flex: 1;
}

/* Styles pour les conteneurs */
.container {
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: space-between; /* Espace entre les éléments */
}

.container > section {
  display: flex;
  flex: 1; /* Les deux sections prennent le même espace */
  justify-content: space-between;
  margin: 35px;
}

/* Ajustement des marges pour les images */
.container img {
  margin-right: 20px; /* Espace à droite de l'image */
}

/* Styles spécifiques pour la section "imagination_joke" */
#imagination_joke {
  width: 50%;
}

#imagination_joke h1 {
  text-align: left;
}

/* Styles pour la section "section-recherche" */
#section-recherche {
  margin-top: 0;
  flex: 1 1 auto;
}

#bloc-recherche {
  display: flex;
  margin: 0 auto;
  min-width: 450px;
  flex-direction: row;
}

#bloc-recherche > input[type="text"],
#bloc-recherche > button {
  display: block;
  font-size: 1.2em;
}

#bloc-recherche > input[type="text"] {
  color: var(--almost-black);
  flex: 1;
  padding: 0.7em;
  border: 0.3em solid var(--main-green);
}

#bloc-recherche > button {
  padding: 0.8em 0.8em;
  border: 1px solid var(--main-green);
  background-color: var(--background-button);
}

#bloc-recherche > button.btn_clicable {
  background-color: var(--main-green);
}

#bloc-recherche > button:focus {
  outline: 0 !important;
}

#bloc-recherche > button.btn_clicable:hover {
  cursor: pointer;
  border: 1px solid white;
}

#bloc-recherche > button.btn_clicable:active {
  background-color: var(--active-green);
}

/* Styles pour le GIF de chargement */
#bloc-gif-attente {
  display: none;
  margin: 40px;
  text-align: center;
}

#bloc-resultats p.res::before {
  content: "\21E8\00A0"; /* Affichage d'une flèche devant chaque résultat */
}

/* Styles pour la section de séparation */
#section-separation {
  border-left: 2px dashed var(--main-green);
  margin: 0 20px;
}

/* Styles pour la section des recherches favorites */
#section-favoris {
  flex: 0 0 300px;
  margin-top: 0;
  margin-bottom: 20px;
}

#section-favoris h2 {
  margin-top: 0;
}

#section-favoris p {
  margin-bottom: 8px;
}

#liste-favoris li {
  margin-bottom: 8px;
  cursor: pointer;
}

#liste-favoris li span {
  text-decoration: underline;
}

#liste-favoris li span:hover {
  color: var(--main-green);
}

/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
  #conteneur {
    flex-direction: column-reverse;
  }

  #section-separation {
    border-top: 2px dashed var(--main-green);
    margin: 0 -10px 40px -10px;
  }

  #section-favoris {
    flex: 0;
  }
}
