main {
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 80vh;
  }

  #section-categorie {
    margin-top: 40px;
    flex: 1 1 auto;
    
  }

  #section-categorie h1 {
    font-size: 2.7em;
  }
  
  
  #description {
    color: #666;
    text-align: start;
    margin-top: 15px;
    width: 50%;
  }

#bloc-categories {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10vh;
    flex-direction: column;
}

#search-cat {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 10%;
}

#search-cat button {
  padding: 0 20px;
  height: 50px;
  background-color: #f3b95f;
  font-size: 16px; /* Taille de la police */
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
  transition: all .3s ease;
}

#search-cat button:hover {
  transform: scale(1.05);
}

.card {
  width: 100%; /* Adapter la largeur à 100% pour les petits écrans */
  max-width: 600px;
  min-width: 360px;
  height: fit-content;
  background: #f3b95f;
  border: 0.5px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
  padding: 20px;
  margin-bottom: 10px;
  animation: grow ease 0.3s;
}


.textContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
}

.h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#bloc-categories select {
  width: 25em;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  color: #000; /* Couleur du texte */
  font-size: 16px; /* Taille de la police */
  border: 1px solid black;
}

