/* Styles spécifiques pour le footer */
footer {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.list-footer {
  list-style: none;
  padding: 0;
}

.list-footer li {
  display: inline-block;
  margin: 0 10px;
}

.list-footer li a {
  color: #333;
  text-decoration: none;
}

.list-footer li a:hover {
  text-decoration: underline;
}
