/* Styles de base pour la barre de navigation */
nav {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Pour centrer verticalement */
}

/* Style des liens dans la barre de navigation */
nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15%;
}

/* Styles des éléments de liste dans la barre de navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Pour aligner les éléments horizontalement */
}

nav li {
  margin-right: 20px;
}

/* Styles spécifiques pour certains liens dans la barre de navigation */
nav li.Categorie a {
  color: #ffd700;
}

nav li.Recherche a {
  color: #00ff00;
}
