

/*---------------------------------------------------------------------------------------------------------*/
main {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

main > section {
  margin-top: 40px;
  flex: 1 1 auto;
}

#section-favoris {
  position: fixed;
  top: 100px;
  right: 50px;
  width: 20%;
}

#entête h1 {
  font-size: 2.7em;
}

#entête {
  margin: 20px 0;
}

#description {
  color: #666;
  text-align: start;
  margin-top: 15px;
  width: 50%;
}


#bloc-recherche {
  display: flex;
  margin: 75px auto;
  min-width: 450px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


#bloc-recherche > input[type="text"] {
  color: var(--almost-black);
  flex: 1;
  padding: 0.7em;
  border: 0.3em solid var(--main-green);
}


#btn-favoris  {
  background-color: #f3b95f;
  border: 1px solid black;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
#btn-favoris img {
  width: 25px;
}

#bloc-gif-attente {
  display: none;
  margin: 40px;
  text-align: center;
}

#bloc-resultats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  min-height: 60vh;
}

#bloc-resultats p.res::before {
  content: "\21E8\00A0";
}

#section-separation {
  border-left: 2px dashed var(--main-green);
  margin: 0 20px;
}



#section-favoris h2 {
  margin-top: 0;
}

#section-favoris p {
  margin-bottom: 8px;
}

#liste-favoris li {
  margin-bottom: 8px;
  cursor: pointer;
}

#liste-favoris li span {
  text-decoration: underline;
}

#liste-favoris li span:hover {
  color: var(--main-green);
}

/* Media-query pour les petits écrans */
@media (max-width: 900px) {
  #bloc-recherche {
    flex-direction: column;
    min-width: auto;
  }
}

/* Styles pour la recherche */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 25em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  border: 1px solid black;
  height: 50px;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

/* Styles pour les cartes */
.card {
  width: 100%; /* Adapter la largeur à 100% pour les petits écrans */
  max-width: 600px;
  min-width: 360px;
  height: fit-content;
  background: #f3b95f;
  border: .5px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
  padding: 20px;
  margin-bottom: 10px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  border-radius: 10px;
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  flex: 1;
  margin-left: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
  color: black;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.p {
  margin-top: 10px;
  font-size: 15px;
  color: black;
}



#bloc-resultats .loading {
  margin-top: 50px;
  width: 75px;
  visibility: hidden;
}

#bloc-resultats .loading-visible {
  visibility: visible;
}