/* Importation de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Définition des principales couleurs */
:root {
  --text-color: #000000; /* (Texte presque blanc) */
  --background: #ffffff; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
  --orange-span: #f3b95f;
  --rouge-span: #d04848;
}

/* Réinitialisation des éléments */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux du corps de la page */
body {
  background-color: var(--background);
  font: 14pt Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/*---------------------------------------------------------------------------------------------------------Boutons*/
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  /* Vos styles existants */
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
  /* Nouvelles propriétés pour centrer */
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Recherche";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* Styles pour les paragraphes d'informations */
p.info-vide {
  font-style: italic;
}

/*-------------------------------------------------------------------------------------------------------------Page index*/
.main-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.7em;
  color: var(--text-color);
  width: 50%;
  margin: 100px auto 50px auto;
}

#orange {
  color: var(--orange-span);
}

#Chuck-Norris-header {
  color: var(--rouge-span);
}

#explication {
  width: 85%;
  margin: 0 auto 20px; /* Cette règle centre l'élément horizontalement */
  text-align: center; /* Pour centrer le texte à l'intérieur de l'élément */
}

.container {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
}

/* Styles spécifiques */
#first,
#second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#imagination_joke {
  flex-grow: 1;
}

#imagination_joke h1 {
  color: var(--text-color);
  text-align: start;
  margin-bottom: 20px;
  font-size: 2.2rem;
}

#imagination_joke p {
  color: #666;
  text-align: start;
}

#description {
  margin-bottom: 20px;
}

.categorie {
  list-style: none;
  padding: 0;
}

.categorie li {
  margin-bottom: 10px;
}

.categorie li :hover {
  text-decoration: underline;
}

.categorie li a {
  color: var(--text-color);
  text-decoration: none;
}

/* Ajustement des images */

img {
  max-width: 50%;
  height: auto;
}

/* Responsive */

@media (max-width: 768px) {
  #first,
  #second {
    flex-direction: column;
    text-align: center;
  }
}
