/* Importation de la police Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Définition des principales couleurs */
:root {
  --text-color: #000000; /* (Texte presque blanc) */
  --background: #ffffff; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
  --orange-span: #f3b95f;
  --rouge-span: #d04848;
}

/* Applique un défilement fluide à tous les liens ancrés */
html {
  scroll-behavior: smooth;

}

/* Réinitialisation des éléments */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux du corps de la page */
body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/* animation des elements quand ils apparaissent à l'ecran */
.appearsOnScroll {
  visibility: hidden;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  visibility: hidden;
  margin-top: 30px;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}


/* Ajustement des images */


  
  /* Responsive */
  
  @media (max-width: 768px) {
    #first,
    #second {
      flex-direction: column;
      text-align: center;
    }
  }

  @keyframes grow {
    from {
      transform: scale(0.7);
      opacity: 0;
    } to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes from-top {
    from {
      height: 0px;
    } to {
      height: 75px;
    }
  }