/* Importation de la police Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Définition des principales couleurs */
:root {
  --text-color: #000000; /* (Texte presque blanc) */
  --background: #ffffff; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
  --orange-span: #f3b95f;
  --rouge-span: #d04848;
}

/* Applique un défilement fluide à tous les liens ancrés */
html {
  scroll-behavior: smooth;

}

/* Réinitialisation des éléments */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux du corps de la page */
body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/* animation des elements quand ils apparaissent à l'ecran */
.appearsOnScroll {
  visibility: hidden;
}

.visible {
  animation: grow ease .3s;
  visibility: visible;
}

/* Ajustement des images */


  
  /* Responsive */
  
  @media (max-width: 768px) {
    #first,
    #second {
      flex-direction: column;
      text-align: center;
    }
  }

  @keyframes grow {
    from {
      transform: scale(0.7);
      opacity: 0;
    } to {
      transform: scale(1);
      opacity: 1;
    }
  }